<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    <style>
        button{
            border: 1px solid black;
           
        }
        </style>
  </head>
  <body>
      <h1>NY TIMES SCRAPPER</h1>
      <div>
        
        <form action="/scrape" method="GET">
        
        <button type="submit">GET ARTICLES</button>

        </form>
        <br>
         <form action="/articles" method="GET">
        
        <button type="submit">SHOW SAVED ARTICLES</button>

        </form>

      </div>
<hr>
      {{{body}}}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
  </body>
</html>
